---
layout: default
title: Home
---
<div class='site-banner'>
  <h1>Grumpy Gits Singapore</h1>
  <p class='lead'>The monthly user group that <strong><em>doesn't</em></strong> lose your data!</p>
</div>
<div class="row">
  <section class='span4'>
    {% include _rfp.html %}
  </section>
  <section class='span4'>
    {% include _first_meeting.html %}
  </section>
  <section class='span4'>
    <div class='well well-large'>
      <h2>Recently added</h2>
      <ul>
{% for post in site.posts limit:7 %}
        <li>
          <a href='{{ post.url }}'>{{ post.title }}</a>{% if post.tldr %}- {{ post.tldr }}{% endif %}
        </li>
{% endfor %}
      </ul>
    </div>
  </section>
</div>
