<h2>The first git together is on!</h2>

<p>
	<a class="btn btn-primary" href="https://www.facebook.com/events/1599023443666373/">View on Facebook</a>
	<a class="btn btn-danger" href="http://www.meetup.com/Grumpy-Gits-SG/events/221519416/">View on Meetup</a>
</p>

<p>It's Git's 10th anniversary, and we're having our first ever Git user meetup
in Singapore! This meetup is aimed at both beginners and people who have over
10 years of Git experience (wait a minute…). We hope to stretch your Gitability
level, and better your understanding of version control systems!</p>

<h3>Programme</h3>
<ul>
	<li>"A brief history of Git": Sahil Bajaj</li>
	<li>"Git for Teams": Sayanee Basu</li>
	<li>"Git Internals": Chow Loong Jin</li>
	<li>Lightning talk: "Git commit messages": Rahul Gokul</li>
	<li>Five random Git tips: ChernJie</li>
</ul>

<p>Come merge with your fellow Gits!</p>

<p>Interested in speaking? Please talk to Valentine or ChernJie! (We're looking for lightning talks!)</p>
