<head>
  <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
  <!--[if lt IE 9]><script type='text/javascript' src='/assets/javascript/html5.js'></script><![endif]-->
  <link rel='stylesheet' type='text/css' href='/assets/css/screen.css' />
  <link rel='stylesheet' type='text/css' href='/assets/vendor/bootstrap/css/bootstrap.min.css' />
  <link rel='stylesheet' type='text/css' href='/assets/vendor/font-awesome/css/font-awesome.min.css' />
  <title>Grumpy Git &ndash; {{ page.title }}</title>
</head>
