<nav class='navbar'>
  <div class='navbar-inner'>
    <a class='brand' rel='home' href='http://pdxgit.github.com'>PDX Git</a>
    <ul class='nav'>
      <li class='divider-vertical'></li>
      <li{% if page.title == 'Meetings' %} class='active'{% endif %}><a href='/meetings'>Meetings</a></li>
      <li{% if page.title == 'Presentations' %} class='active'{% endif %}><a href='/presentations'>Presentations</a></li>
      <li class='divider-vertical'></li>
      <li><a href='http://twitter.com/pdxgit'><span class='icon-twitter'></span>@pdxgit</a></li>
      <li><a href='http://groups.google.com/group/pdxgit'><span class='icon-envelope-alt'></span>Google Group</a></li>
      <li><a href='http://calagator.org/events/search?query=pdxgit'><span class='icon-calendar'></span>Calagator</a></li>
      <li><a href="https://github.com/pdxgit/pdxgit.github.com"><span class="icon-github"></span>Github</a></li>
      <li><a href='/atom.xml'><span class='icon-rss'></span>feed</a>
    </ul>
  </div>
</nav>
