<h2>Request for presenters</h2>
<p class='lead'>Coming to a meeting? Want to make a presentation?</p>
<p>
  <b>Why don't you talk about:</b>
  <ul>
    <li>How to <code>stash</code> effectivly</li>
    <li>Demystifying <code>git rebase</code></li>
    <li>Case studies of unique repos, e.g., the linux kernel</li>
    <li>Interesting Git workflows</li>
    <li>Using Git to track data other than code</li>
    <li>Your favorite but little-known git utility</li>
    <li>When To Modify History For Fun And Profit</li>
    <li>Your newest crazy idea using Git</li>
  </ul>
</p>
