<h2>The next git together is on!</h2>
<p class='calagator-link'><a href='http://calagator.org/events/search?query=pdxgit'>View on Calagator</a></p>
<p>PDX Git Together is hosted on the last Wednesday of every month by the fine folks at <a href='http://www.elementaltechnologies.com'>Elemental Technologies</a>. The format is three twenty minute talks, plus time for questions and socializing.</p>
<p>If you would like to present at the next PDX Git Together, please <a href='http://groups.google.com/group/pdxgit?hl=en'>post to the mailing list</a>.</p>
<p>Talks for the next meeting (2013-03-27) include:</p>
<ul>
  <li><strong>The GitHub API</strong>, by Christopher Swenson. He will talk a little about what
    the GitHub API is, how to use it, what it can do, secret undocumented APIs and how to find them,
    and fun things you can use it for.</li>
</ul>
