<h2>The next git together is on!</h2>
<p class='calagator-link'><a href='http://calagator.org/events/search?query=pdxgit'>View on Calagator</a></p>

<p>

PDX Git Together used to be hosted on the last Wednesday of every month by the fine folks at <a href='http://www.elementaltechnologies.com'>Elemental Technologies</a>. 

We are currently rebooting the meeting. Check back soon for new meeting details.

</p>

<p>If you would like to present at the next PDX Git Together, please <a href='http://groups.google.com/group/pdxgit?hl=en'>post to the mailing list</a>.</p>

<p>Talks for the next meeting include:</p>
<ul>
  <li><strong>Duke Leto - Using bup to manage massive files</strong></li>
</ul>
