<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
	</head>
	<body>
		<nav id='upper-crust'>
			<a href='/meetups.html'>Meetups</a>
			<a href='/presentations.html'>Presentations</a>
			<a href='/resources.html'>Resources</a>
		</nav>
		<article id='meat'>
			{{ content }}
		</article>
		<footer id='lower-crust'>
			<a rel='license' href='http://creativecommons.org/licenses/by-nc-sa/3.0/'>
				cc by nc sa
			</a>
			<a href='http://twitter.com/pdxgit'>@pdxgit</a>
			<a href='/atom.xml'>rss</a>
		</footer>
	</body>
</html>